<header id="header" class="header">
  <div class="container">
    <div class="menu">
      <ul class="menu">
        <nav>
          <a routerLink="/home" routerLinkActive="active-link">Главная</a>
        </nav>
        <nav>
          <a routerLink="/breeds" routerLinkActive="active-link">Породы</a>
        </nav>
        <nav>
          <a routerLink="/gallery" routerLinkActive="active-link">Галерея</a>
        </nav>
        <nav>
          <a routerLink="/art" routerLinkActive="active-link">Искусство</a>
        </nav>
      </ul>
    </div>
    <div class="offer">
      <h1>Кошки как искусство</h1>
      <p> Многие деятели искусства вдохновлялись своими пушистыми друзьями,
      посвящали им песни, писали в их честь картины, вдохновлялись на новые свершения</p>
      <a routerLink="/home" routerLinkActive="active-link">Вернуться на главную</a>
    </div>
  </div>
</header>
