.header {
  background: url("../../assets/images/art/main image.png") no-repeat center top / cover;
  height: 640px;
  padding-top: 62px;
  padding-bottom: 322px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.menu,
.menu nav {
  display: flex;
}

ul, nav {
  display: block;
}

.menu nav a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 30px;
  line-height: 44px;
  left: -20px;
}

.menu nav {
  margin-right: 59px;
}

.menu nav a:hover {
  border-bottom: 1px solid #ffffff;
}

.offer h1 {
  position: absolute;
  margin-top: 301px;
  font-size: 50px;
  line-height: 73px;
  left: 370px;
  font-weight: bolder;
  color: white;
}

.offer p {
  position: absolute;
  margin-top: 385px;
  font-size: 20px;
  width: 561px;
  line-height: 40px;
  left: 370px;
  font-weight: normal;
  color: white;
}

.bth {
  color: #ffffff;
  font-size: 20px;
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  transition: all 0.5s ease;
  border:  solid #000000;
  border-radius: 57px;
  background: #000000;
  position: absolute;
  width: 268px;
  height: 30px;
  margin-top: 580px;
  left: 370px;
  text-decoration: none;
}

.bth:hover {
  background-color: transparent;
  color: #000000;
}

h2 {
  font-size: 35px;
  margin-top: 65px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
  line-height: 36px;
  width: 1170px;
  margin-top: 25px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
}

.carousel-image {
  background-color: #2C2C2C;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  width: 1170px;
  height: 395px;
}

img {
  max-width: 50vw;
  max-height: 70vh;
}

.carousel-button {
  padding: 1.5rem;
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0; /* ! */
  left: 0;
  right: 0;
}

span {
  color: transparent;
  display: flex;
  align-items: center;
  font-size: 3rem;
  padding: 0.5rem;
  flex-grow: 1;
}

span:nth-child(3) {
  justify-content: flex-end;
}

span:not(:nth-child(2)) {
  cursor: pointer;
}

span:not(:nth-child(2)):focus,
span:not(:nth-child(2)):hover {
  border: none;
  outline: none;
  color: #ffffff;
}
