<header class="header" id="header">
  <div class="container">
    <div class="menu">
      <ul class="menu">
        <li>
          <a routerLink="/home" routerLinkActive="active-link">Главная</a>
        </li>
        <li>
          <a routerLink="/breeds" routerLinkActive="active-link">Породы</a>
        </li>
        <li>
          <a routerLink="#" routerLinkActive="active-link">Галерея</a>
        </li>
        <li>
          <a routerLink="#" routerLinkActive="active-link">Искусство</a>
        </li>
      </ul>
    </div>
    <div class="offer">
      <h1>Все они такие разные</h1>
      <p>
        Более 40 признаных пород кошек <br>
        И свыше 100 существующих
      </p>
      <a href="#" class="bth">Вернуться на главную</a>
    </div>
  </div>
</header>
<section id="about" class="about">
</section>
