<header class="header" id="header">
  <div class="container">
    <div class="menu">
      <ul class="menu">
        <nav>
          <a routerLink="/home" routerLinkActive="active-link">Главная</a>
        </nav>
        <nav>
          <a routerLink="/breeds" routerLinkActive="active-link">Породы</a>
        </nav>
        <nav>
          <a routerLink="/gallery" routerLinkActive="active-link">Галерея</a>
        </nav>
        <nav>
          <a routerLink="#" routerLinkActive="active-link">Искусство</a>
        </nav>
      </ul>
    </div>
    <div class="offer">
      <h1>Все они такие разные</h1>
      <p>
        Более 40 признаных пород кошек <br>
        И свыше 100 существующих
      </p>
      <a href="#" class="bth">Вернуться на главную</a>
    </div>
  </div>
</header>
<section id="about" class="about">
  <div class="search>">
    <app-breeds-search></app-breeds-search>
  </div>
  <div class="filter">
    <button class="all" (click)="filter('')">Все</button>
    <button class="shorthair" (click)="filter('Короткошерстные')">Короткошерстные</button>
    <button class="longhair" (click)="filter('Длинношерстные')">Длинношерстные</button>
    <button class="bald" (click)="filter('Лысые')">Лысые</button>
  </div>
  <div class="container">
    <ul class="breeds">
      <li *ngFor="let breed of filterCategory | filter: searchKey: 'title'">
          <img [src]="breed.image" [alt]="breed.alt"> <br>
            <a routerLink="/detail/{{breed.id}}">
              {{breed.title}}
            </a>
      </li>
    </ul>
  </div>
</section>

