.header {
  background: url("../../assets/images/gallery/main.jpg") no-repeat center top / cover;
  height: 540px;
  padding-top: 62px;
  color: black;
  padding-bottom: 322px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.menu,
.menu nav {
  display: flex;
}

ul, nav {
  display: block;
}

.menu nav a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 30px;
  line-height: 44px;
  left: -20px;
}

.menu nav {
  margin-right: 59px;
}

.menu nav a:hover {
  border-bottom: 1px solid #ffffff;
}

.offer h1 {
  position: absolute;
  margin-top: 301px;
  font-size: 50px;
  line-height: 73px;
  left: 316px;
  font-weight: bolder;
  color: white;
}

.offer p {
  position: absolute;
  margin-top: 385px;
  font-size: 25px;
  line-height: 40px;
  left: 316px;
  font-weight: normal;
  color: white;
}

.bth {
  color: #ffffff;
  font-size: 20px;
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  transition: all 0.5s ease;
  border:  solid #000000;
  border-radius: 57px;
  background: #000000;
  position: absolute;
  width: 240px;
  height: 35px;
  margin-top: 495px;
  left: 316px;
  text-decoration: none;
}

.bth:hover {
  background-color: transparent;
  color: #000000;
}

.about {
  height: 934px;
  padding-top: 20px;
  color: #000000;
  padding-bottom: 80px;
  display: flex;
}

h2 {
  position: relative;
  font-size: 36px;
  left: 25px;
}

.about p {
  position: relative;
  font-size: 20px;
  line-height: 36px;
  left: 25px;
}

.line {
  color: #000000;
  margin-top: 100px;
  left: 25px;
  border: 1px solid #000000;
}

.gallery {
  margin: 50px 0 0 0;
  display: grid;
  gap: 49px;
  grid-template-columns: 447px 230px 394px;
  grid-template-rows: 252px 550px 558px;
}

.gallery figure {
  display: grid;
}

.gallery_item_2 {
  grid-row-start: 2;
}

.gallery_item_5 {
  grid-row-end: 239;
}

