<header class="header" id="header">
  <div class="container">
    <div class="menu">
      <ul class="menu">
        <nav>
          <a routerLink="/home" routerLinkActive="active-link">Главная</a>
        </nav>
        <nav>
          <a routerLink="/breeds" routerLinkActive="active-link">Породы</a>
        </nav>
        <nav>
          <a routerLink="/gallery" routerLinkActive="active-link">Галерея</a>
        </nav>
        <nav>
          <a routerLink="#" routerLinkActive="active-link">Искусство</a>
        </nav>
      </ul>
    </div>
    <div class="offer">
      <h1>Красота и изящество</h1>
      <p>Кошки - одни из самых фотогеничных <br>
        созданий в мире</p>
      <a href="#" class="bth">Смотреть породы</a>
    </div>
  </div>
</header>
<section id="about" class="about">
  <div class="info">
    <h2>Фотографии</h2>
    <p class="text">
      В данной категории представлены одни из самых красивых фотографий кошек. Хотя... Разве могут быть фотографии
      кошек некрасивыми? <br>
      Надеемся, что Вы получите эстетическое удовлетворение от этих прекрасных созданий! <br>
      Приятного просмотра!
    </p>
  </div>
</section>
