.header {
  background: url("../../assets/images/gallery/main.jpg") no-repeat center top / cover;
  height: 940px;
  padding-top: 62px;
  padding-bottom: 322px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.menu,
.menu nav {
  display: flex;
}

ul, nav {
  display: block;
}

.menu nav a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 30px;
  line-height: 44px;
  left: -20px;
}

.menu nav {
  margin-right: 59px;
}

.menu nav a:hover {
  border-bottom: 1px solid #ffffff;
}

.offer h1 {
  position: absolute;
  margin-top: 301px;
  font-size: 50px;
  line-height: 73px;
  left: 370px;
  font-weight: bolder;
  color: white;
}

.offer p {
  position: absolute;
  margin-top: 385px;
  font-size: 25px;
  line-height: 40px;
  left: 370px;
  font-weight: normal;
  color: white;
}

.bth {
  color: #ffffff;
  font-size: 20px;
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  transition: all 0.5s ease;
  border:  solid #000000;
  border-radius: 57px;
  background: #000000;
  position: absolute;
  width: 340px;
  height: 70px;
  margin-top: 495px;
  left: 370px;
  text-decoration: none;
}

.bth:hover {
  background-color: transparent;
  color: #000000;
}

.about {
  height: 934px;
  padding-top: 20px;
  color: #000000;
  padding-bottom: 80px;
  display: flex;
}

h2 {
  position: relative;
  font-size: 36px;
  left: 25px;
}

.about p {
  position: relative;
  font-size: 20px;
  line-height: 36px;
  left: 25px;
}

.line {
  color: #000000;
  margin-top: 100px;
  left: 25px;
  border: 1px solid #000000;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(5,300px);
  width: 100%;
  margin-top: 50px;
}

.image {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.gallery .image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* заполненность объектом контейнера */
  transition-duration: 0.55s; /* время анимации */
}

.gallery .image span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0; /* непрозрачность элемента */
  font-size: 3rem;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  pointer-events: none;
}

.gallery .image:hover {
  filter: brightness(0.9) drop-shadow(2px 4px 6px black); }

.gallery .image img:hover {
  transform: scale(1.1) !important;
  transition-duration: 3s;
}

.gallery .image span:hover {
  opacity: 1;
}

.container_gallery {
  width: 66vw;
  min-width: 300px;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  align-items: center;
}

