* {box-sizing: border-box;}

form {
  position: relative;
  width: 300px;
  margin-top: 30px;
}

.search-component {
  position: relative;
  margin-left: 300px;
}

input {
  padding: .5rem;
  width: 100%;
  height: 42px;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  border: 2px solid #7BA7AB;
  border-radius: 50px;
  outline: none;
  background: #FFFAFA;
  color: #808080;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 24px;
  color: #F9F0DA;
}

li {
  list-style-type: none;
}
.search-result li a {
  border-bottom: 2px solid #7BA7AB;
  border-left: 2px solid #7BA7AB;
  border-right: 2px solid #7BA7AB;
  border-radius: 50px;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #435A60;
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
