<header id="header" class="header">
  <div class="container">
    <div class="body_one">
      <div class="menu">
        <ul>
          <li>
            <a href="#">Главная</a>
          </li>
          <li>
            <a href="#">Породы</a>
          </li>
          <li>
            <a href="#">Галерея</a>
          </li>
          <li>
            <a href="#">Искусство</a>
          </li>
        </ul>
      </div>
      <div class="offer">
        <h1>Кошки - короли мира</h1>
        <p>
          Самые милые и самые величественные <br>
          Вся информация о кошках здесь
        </p>
        <a href="#" class="bth">Смотреть породы</a>
      </div>
    </div>
  </div>
</header>
