.header {
  background: url("../../assets/images/home/birma.jpg") no-repeat center top / cover;
  height: 940px;
  padding-top: 62px;
  color: #fff;
  padding-bottom: 322px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.menu,
.menu ul {
  display: flex;
}

ul, nav {
  display: block;

}

.menu nav a {
  position: relative;
  text-transform: uppercase; /* делает текст капсом */
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  line-height: 44px;
  left: -20px;
}

.menu nav {
  margin-right: 59px;
}

.menu nav a:hover {
  border-bottom: 1px solid #fff;
}

.offer h1 {
  position: absolute;
  width: 600px;
  height: 79px;
  top: 450px;
  color: #000000;
  font-size: 50px;
  line-height: 73px;
}

.offer p {
  position: absolute;
  width: 600px;
  height: 100px;
  top: 540px;
  color: black;
  font-size: 25px;
  line-height: 40px;
}

.bth {
  color: #ffffff;
  font-size: 22px;
  display: block;
  text-align: center;
  letter-spacing: 0.1em; /* Расстояние между буквами */
  padding: 17px 47px;
  transition: all 0.5s ease;
  border:  solid #000000;
  border-radius: 57px;
  background: #000000;
  position: absolute;
  width: 350px;
  height: 70px;
  top: 680px;
  text-decoration: none;
}

.bth:hover {
  background-color: transparent;
  color: #000000;
}

h2 {
  position: relative;
  font-size: 36px;
}

.text {
  position: relative;
  font-size: 20px;
  line-height: 36px;
}

.images {
  position: relative;
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}

.images img {
  transition: all 0.5s ease;
}

.images img:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  transform: scale(1.1);
}

.images img:nth-child(1) {
  width: 40%;
}

.images img:nth-child(2) {
  width: 40%;
  margin-right: 35px;
}
